BOOST_DIR = $(HOME)/sfw/boost_1_56_0/

SCIP_DIR_BASE = $(HOME)/app/libs/scipoptsuite-3.1.1
SCIP_LIB_DIR = $(SCIP_DIR_BASE)/lib/
SCIP_SRC_DIR = $(SCIP_DIR_BASE)/scip-3.1.1/src/

OPAM_LIB_DIR_BASE = $(HOME)/.opam/system/lib/
CAMLIDL_INCLUDE_PATH = $(OPAM_LIB_DIR_BASE)/camlidl

# needed for Mac OS X; can be empty for GNU/Linux
OCAML_INCLUDE_PATH = $(OPAM_LIB_DIR_BASE)/ocaml
